<h1>Cadstro de Prdutos</h1>
<form>
    <div class="input-group obj_p_fundos">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="nome" type="text" class="form-control obj_p_fundos" name="nome" placeholder="Nome">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="nome" type="text" class="form-control obj_p_fundos" name="l" placeholder="Nome">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="nome" type="text" class="form-control obj_p_fundos" name="nome" placeholder="Nome">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">Tipo</span>
      <select class="form-control obj_p_fundos" id="Tipo" name="Tipo" placeholder="Tipo">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
    </div>
    <br>
    <label for="comment">Descrição:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
  <br>
  <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
  </form>